VITE_FIREBASE_API_KEY=AIzaSyA1B0D1rU2QenicFIfgD0DMr89dnf6FUSw
VITE_FIREBASE_AUTH_DOMAIN=sign-taxi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sign-taxi
VITE_FIREBASE_STORAGE_BUCKET=sign-taxi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=392139443843
VITE_FIREBASE_APP_ID=1:392139443843:web:c353c9b766cbe5b62755b6
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
VITE_ADMIN_CODE=TestAdmin1234
